<style>
  <id>ott-routes-style</id>
  <name>routes</name>
  <workspace>
    <id>ott-workspace</id>
  </workspace>
  <languageVersion>
    <version>1.0.0</version>
  </languageVersion>
  <format>css</format>
  <filename>routes.css</filename>
  <dateCreated>2024-12-12 15:00:00.000 UTC</dateCreated>
  <dateModified>2024-12-12 15:00:00.000 UTC</dateModified>
</style>
